<!DOCTYPE html>
<html>
<head>
  <title>Represent</title>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="bower_components/Materialize/bin/materialize.css" />
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <link href='https://fonts.googleapis.com/css?family=Creepster' rel='stylesheet' type='text/css'>
</head>
<body ng-app="CongressionalStalker" ng-controller='AuthCheck'>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Represent</a>
      <ul class="right">
              <li ng-if='!loginCheck()'><a ui-sref="register"><i class="fa fa-user left"></i>Register</a></li>
        <li ng-if='!loginCheck()'><a ui-sref="login"><i class="fa fa-sign-in left"></i>Login</a></li>
        <li ng-if="loginCheck()"><a ui-sref="logout"><i class="fa fa-sign-out left"></i>Logout</a></li>
      </ul>
    </div>
</nav>

<div ui-view class="background"></div>



<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/Materialize/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular-materialize/src/angular-materialize.js"></script>
<script type="text/javascript" src="bower_components/progressbar.js/dist/progressbar.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="components/results/resultsCtrl.js"></script>
<script type="text/javascript" src="components/search/searchCtrl.js"></script>
<script type="text/javascript" src="auth/register.js"></script>
<script type="text/javascript" src="auth/login.js"></script>
<script type="text/javascript" src="auth/logout.js"></script>
<script type="text/javascript" src="services/handleRequest.js"></script>
<script type="text/javascript" src="directives/directives.js"></script>
<script type="text/javascript" src="directives/stateMap.js"></script>
<script type="text/javascript" src="directives/region.js"></script>
<script type="text/javascript" src="factories/dataCache.js"></script>
<script type="text/javascript" src="factories/errors.js"></script>
<script type="text/javascript" src="components/search/stateMapCtrl.js"></script> 
<script type="text/javascript" src="components/search/byStateCtrl.js"></script>
<script type="text/javascript" src="components/results/byDistrictResultsCtrl.js"></script>
<script type="text/javascript" src="components/results/byStateResultsCtrl.js"></script>
<script type="text/javascript" src="components/filters/filters.js"></script>

</body>
</html>