.brand-logo {
  font-family: 'Creepster', cursive;
  margin-left: 15px;
  font-size: .8em;
}

.center-form {
  float: none;
}

.drop {
  margin: 5% auto;
}

.table-items-medium {
  font-size: 1.5em;
  cursor: pointer;
}

.centered {
  display: table;
  margin: auto;
  width: 600px;
}

.btn-search {
  margin: 6px;
  left: 20px !important;
}

.subheader {
  font-weight: bold;
}

.flex {
  display: flex;
}

#member-container {
  margin-top: 5%;
  margin-bottom: 30px;
}

#bio ul{
  margin: 5px 0;
}

#social {
  margin-top: 15px;
}

#summary {
  margin-left: 20px;
  margin-right: 30px;
}

#summary p {
  margin: 5px 0;
}

#voteProgress {
  width: 200px;
  height: 200px;
  margin: 20px;
}

#voteProgress > p {
  color: coral;
  position: absolute;
  top: 44%;
  margin: 18px 12px;
  text-align: center;
}

#votesWithParty {
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 10px;
}

#votesWithParty > p {
  color: coral;
  position: absolute;
  top: 44%;
  margin: 18px 12px;
  text-align: center;
}

a > img{
  width: 40px;
}

.lighter-blue {
  background-color: #678CE5;
  color: white;
}

.card-panel {
  margin: 0 0 -20px 0;
}

.table-pages {
  left: 50%;
}

nav {
  background-color: #1D2740;
}


.btn {
  background-color: #394E7F;
}

.btn:hover {
  background-color: #5675BF;
}

.btn:active {
  background-color: #5675BF;
}

.date{
  font-size: 110%;
  font-style: italic;
}

.darkishBlue {
  background-color: #678CE5;
  color: white;
  font-family: 'Convergence', sans-serif;
}

.loading {
  margin: auto;
  position: absolute;
  top: 38%;
  left: 50%;
  z-index: 10;
}

h1 {
  font-size: 24px;
  color: #008ccc;
}

body {
   background: url(images/cream_pixels.png) top left repeat;
}

.team {
  color: #008ccc;
  background: lavender;
position:absolute;
   bottom:0;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}

.team p {
  color: black;
}

.shift-right {
  margin-left: 117px !important;
}

.team-member {
  background: lavender;
  padding: 60px !important;
}

.team-member>img {
  width:30%;
  display: block;
  position: relative;
  height: auto;
  z-index: 0;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
}

.fixed-col {
  width:50px;
}

.background {
   background: url(images/cream_pixels.png) top left repeat;
}
/****************CONGRESS MEMBER PAGE**************/


.bill {
  line-height: 1.25em;
}
.billView {
  background-color: #E3DABF ;
}
/****************** SVG MAP STYLES ****************/
.smap {
  width: 50%;
  margin: 0 auto;
}

svg .state{
  stroke-width: 1;
  -webkit-transition: stroke 0.75s,stroke-width 1.5s;
  -o-transition: stroke 0.75s,stroke-width 1.5s;
  transition: stroke 0.75s,stroke-width 1.5s;
 /* fill: rgba(0, 255, 0, 0.5);*/
}

svg .state:hover{
  z-index: 20;
  cursor: pointer;
  /*stroke-width: 4;*/
  stroke: #22ff90;
  fill: #22ff90;
  outline: none;
}

.state:active{
  outline: none;
}

.state:visited{
  outline: none;
}

.district {
  font-size: 12px;
}


