<div class='info darkishBlue z-depth-1'>
  <div class='row'>
    <h4 class='col s12 center-align'>Learn Who Represents You In Congress</h4>
    <h7 class='col s12 center-align'>Search by zip code, name, or state</h7>
     <h7 class='col s12 center-align'>for stats and news on your congress members</h7>
    <br>
  </div>
</div>
<div dl-search-member></div>
<div class="container">
  <div class="row">
  <div  svg-map class="col s8 offset-s1 offset-m1 offset-l2"></div> 
  </div>
</div>
<div class="loading" ng-if="loading">
  <img src="/images/ring.gif">
</div>

