<div class="col m6 centered">
  <h2 class="center-align">Register</h2>
  <div class="row">
    <form class="col s12" ng-submit='register(user)'>

     <!-- email input -->
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="materialize-textarea" ng-model='user.email'>
          <label for="email">Email</label>
        </div>
      </div>
  <!-- password input -->
      <div class="row">
        <div class="input-field col s12">
          <input id="pass" type="password" class="materialize-textarea" ng-model='user.password'>
          <label for="pass">Password</label>
        </div>
      </div>

       <!-- zipcode input -->
      <div class="row">
        <div class="input-field col s12">
          <input id="zip" type="zip" class="materialize-textarea" ng-model='user.zip'>
          <label for="zip">Zip Code</label>
        </div>
      </div>

      <div class="row">
        <div class="col m12">
          <p class="right-align">
            <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Register</button>
          </p>
        </div>
      </div>

    </form>
  </div>
</div>
